body {
    font-family: 'Comic Sans MS';
    text-align: center;
    background-color: aliceblue;
}
ul {
    text-align: left;
}
.section {
    display: flex;
    vertical-align: middle;
    overflow-wrap: normal;
}